{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="card" style="max-width: 500px; margin: 50px auto;">

    <h1 class="page-title">
        Login
    </h1>

    <p>
        Enter your username and password to access your account.
    </p>


    {% if error %}

        <div class="error-message">
            {{ error }}
        </div>

    {% endif %}


    <form method="POST">

        {% csrf_token %}


        <p>

            <label for="username">
                <strong>Username:</strong>
            </label>

            <input
                type="text"
                id="username"
                name="username"
                required
                autocomplete="username"
                autofocus
            >

        </p>


        <p>

            <label for="password">
                <strong>Password:</strong>
            </label>

            <input
                type="password"
                id="password"
                name="password"
                required
                autocomplete="current-password"
            >

        </p>


        {% if request.GET.next %}

            <input
                type="hidden"
                name="next"
                value="{{ request.GET.next }}"
            >

        {% endif %}


        <button
            type="submit"
            class="btn"
        >
            Login
        </button>

    </form>


    <hr>

    <p>
        Don't have a customer account?

        <a
            href="{% url 'register' %}"
        >
            Create Account
        </a>
    </p>

</div>

{% endblock %}