{% extends "base.html" %}

{% block title %}Delete Customer{% endblock %}

{% block content %}

<div class="card">
    <h1 class="page-title">Delete Customer</h1>

    <p>
        Are you sure you want to delete
        <strong>{{ customer.full_name }}</strong>?
    </p>

    <p>This action cannot be undone.</p>

    <form method="POST">
        {% csrf_token %}

        <button type="submit" class="btn">
            Yes, Delete Customer
        </button>

        <a href="{% url 'customer_detail' customer.pk %}" class="btn">
            Cancel
        </a>
    </form>
</div>

{% endblock %}