{% extends "base.html" %}


{% block title %}

{% if customer %}
    Edit Customer
{% else %}
    Add Customer
{% endif %}

{% endblock %}


{% block content %}

<h1 class="page-title">

{% if customer %}
    Edit Customer
{% else %}
    Add Customer
{% endif %}

</h1>


<div class="card">

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button
            type="submit"
            class="btn"
        >
            {% if customer %}
                Update Customer
            {% else %}
                Save Customer
            {% endif %}
        </button>

    </form>

</div>

{% endblock %}