{% extends "base.html" %}

{% block title %}
    {% if car %}
        Edit Car
    {% else %}
        Add Car
    {% endif %}
{% endblock %}

{% block content %}

<h1 class="page-title">
    {% if car %}
        Edit Car
    {% else %}
        Add New Car
    {% endif %}
</h1>


<div class="card">

    {% if car %}
        <h2>
            {{ car.brand }} {{ car.model }}
        </h2>

        <p>
            Update the vehicle information below.
        </p>

        {% if car.image %}

            <img
                src="{{ car.image.url }}"
                alt="{{ car.brand }} {{ car.model }}"
                style="
                    width: 100%;
                    max-width: 400px;
                    height: 230px;
                    object-fit: cover;
                    border-radius: 10px;
                    margin-bottom: 20px;
                "
            >

        {% endif %}

    {% else %}

        <h2>
            Vehicle Information
        </h2>

        <p>
            Enter the details of the new vehicle.
        </p>

    {% endif %}


    <form
        method="POST"
        enctype="multipart/form-data"
    >

        {% csrf_token %}


        {% if form.non_field_errors %}

            <div class="error-message">
                {{ form.non_field_errors }}
            </div>

        {% endif %}


        {{ form.as_p }}


        <button
            type="submit"
            class="btn"
        >
            {% if car %}
                Update Car
            {% else %}
                Save Car
            {% endif %}
        </button>


        {% if car %}

            <a
                href="{% url 'car_detail' car.pk %}"
                class="btn"
            >
                Cancel
            </a>

        {% else %}

            <a
                href="{% url 'car_list' %}"
                class="btn"
            >
                Cancel
            </a>

        {% endif %}

    </form>

</div>

{% endblock %}